body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.invisible-link {
    text-decoration: none;
    color: black;
}

#title {
    margin: unset;
}

#subtitle {
    font-size: 16px;
    font-weight: 600;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 4px;
}