body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: unset;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#subtitle {
    font-size: 20px;
    font-weight: 600;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 4px;
}