body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-width: 400px;
    max-width: 550px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.text-choices {
    margin: 8px 0;
}

.invisible-link {
    text-decoration: none;
    color: black;
}

#title {
    margin: unset;
}

#subtitle {
    font-size: 16px;
    font-weight: 600;
}

#loadedNames {
    color: gray;
}

.choices {
    display: flex;
    flex-direction: column;
    gap: 4px;
}